**/__pycache__

**/.mypy_cache

**/*.yaml
**/*.yml

.git
.gitignore
Dockerfile
.dockerignore

*.in

.github
.flake8
.isort.cfg
.pre-commit-config.yaml
LICENSE
mypy.ini
pyproject.toml
README.md

units
config
scripts
edgedb/data
